.into1 {
  position: relative;
  height: 90vh; 
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  padding: 20px;
}

.into1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.strategy-business.com/media/image/44106699_1000x500.jpg");
  background-size: cover;
  opacity: 0.7;
  background-position: center; 
}

.intro {
  position: relative;
  z-index: 1;
  font-family: 'Playfair Display', serif; 
  font-size: 1.8rem;
  line-height: 1.5;
  color: #6f1010e3;
  text-align: center;
  padding: 20px;
  font-weight: 500;
  max-width: 80%; 
  margin: 0 auto; 
  text-shadow: 0 1px 2px rgba(111, 15, 15, 0.9); 
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.896); 
  padding: 30px; 
  overflow: hidden; 
  max-height: 500px; 
}

.intro br {
  display: block; 
  margin-bottom: 20px; 
}



.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px;
  padding: 20px;
  background-color: #f7f4f4;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.testimonial-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #d9f6b3;
  padding: 20px;
  border: 1px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
  flex-basis: 30%; 
  font-family: 'Merriweather', serif; 
  font-size: 1.1rem; 
  line-height: 1.25; 
  text-align: center;
  transition: transform 0.3s ease-in-out; 
}

.testimonial-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 1); 
  background-color: #cffbc1; 
  cursor: pointer; 
}

.testheading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  text-align: left;
  width: 100%;
  font-family: 'Playfair Display', serif; 
  padding-left: 2.8%;
  padding-bottom: 0;
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
  text-decoration-color: #217c24; 
}

.test1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #731111;
  margin-bottom: 10px;
}



.links {
  font-size: 18px;
  color: #722f11;
  text-align: center;
  margin-bottom: 20px;
}



/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  .into1 {
    height: 120vh;
  }
  .into1::before {
    height: 120vh; 
  }
  .intro {
    font-size: 1.2rem;
    padding: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .into1 {
    height: 100vh; 
  }
  .into1::before {
    height: 100vh; 
  }
  .intro {
    font-size: 1rem;
    padding: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .into1 {
    height: 80vh; 
  }
  .into1::before {
    height: 80vh; 
  }
  .intro {
    font-size: 0.8rem;
    padding: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .into1 {
    height: 60vh; 
  }
  .into1::before {
    height: 60vh; 
  }
  .intro {
    font-size: 0.6rem;
    padding: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .into1 {
    height: 40vh; 
  }
  .into1::before {
    height: 40vh; 
  }
  .intro {
    font-size: 0.4rem;
    padding: 10px;
  }
}

